.swp
.*.swp
*.toc
*.aux
*.bbl
*.blg
*.log
*.out

bitshares-consensus.pdf
bitshares-financial-platform.pdf
bitshares-general.pdf
bitshares-growth.pdf
bitshares-history.pdf
bitshares-license.pdf
bitshares-structure.pdf
